* {
  margin: 0;
  padding: 0;
  font-family: "Arial", Gadget, sans-serif;
}

body {
  background: url("../../image/background.png") no-repeat fixed center;
}

header {
  display: block;
  font-weight: bold;
  background-color: #222628;
  margin: auto;
  height: 200px;
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  text-align: center;
  box-shadow: -1px 2px 4px 0 rgba(0,0,0,0.16),-1px 2px 10px 0 rgba(0,0,0,0.12)!important;
  position: absolute;
  width: 100%;
  z-index: 1;
}

header h2 {
  padding: 42.5px 0 8px 0;
}

logo {
  background: url(../../image/logo2.png);
  background-size: contain;
  display: block;
  width: 180px;
  height: 180px;
  position: absolute;
  top: 10;
  left: 10;
}

main {
  display: block;
  width: 90%;
  padding: 1% 5%;
  color: #FFFFFF;
}

section {
  display: block;
  width: 95%;
  margin: 25px auto 25px auto;
}

section title {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1.25em;
  margin-bottom: 20px;
  font-weight: bold;
}

section collums {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  text-align: center;
}

section collums collum {
  flex: 1;
  text-align: center;
}

section collum subtitle, section collum info {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

section collum subtitle {
  font-weight: bold;
  text-decoration: underline;
}

section collum a {
  display: block;
  width: 90%;
  margin: auto;
  height: 2em;
  font-size: 0.9em;
  line-height: 2em;
  font-weight: bold;
  font-style: italic;
  border-radius: 3px;
  background-color: #00aaff;
  border: 0;
  color: #FFFFFF;
  text-decoration: none;
}

side {
  width: 250px;
  height: 100vh;
  display: block;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #222628;
  box-shadow: -2px 0 2px 0 rgba(0,0,0,0.16),-2px 0 10px 0 rgba(0,0,0,0.16)!important;
}

side.account {
  width: 250px;
  height: calc(100vh - 200px);
  display: block;
  position: fixed;
  left: 0;
  top: 200px;
  background-color: #222628;
  z-index: 2;
  box-shadow: 2px 1px 2px 0 rgba(0,0,0,0.16),2px 10px 10px 0 rgba(0,0,0,0.16)!important;
}

side.account tab {
  width: calc(100% - 20px);
  height: 24px;
  display: block;
  padding: 10px;
  line-height: 24px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  font-variant: SMALL-CAPS;
  background-color: #181a1c;
  cursor: pointer;
  position: relative;
}

side.account tab.show {
  width: calc(100% - 20px);
  height: 24px;
  display: block;
  padding: 10px;
  line-height: 24px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  font-variant: SMALL-CAPS;
  background-color: #00aaff;
  cursor: pointer;
  position: relative;
}

side.account tab.show:after {
  content: '';
  position: absolute;
  top: 6px;
  right: -32px;
  border: 16px solid;
  border-color: transparent transparent transparent #00aaff;
}

side discord {
  display: block;
  width: calc(100% - 30px);
  padding: 15px;
  color: #FFFFFF;
  line-height: 2em;
  background-color: #738bd7;
  text-align: center;
}

side discord title {
  display: inline-block;
  width: calc(50% - 3px);
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

side discord members {
  vertical-align: middle;
  display: inline-block;
  color: #FFFFFF;
  text-align: right;
  width: calc(50% - 3px);
  font-size: 14px;
  line-height: 1em;
}

side discord span {
  width: 100%;
  display: block;
  text-align: center;
  margin-top: 5px;
}

side discord span a {
  background-color: #555555;
  display: inline-block;
  text-decoration: none;
  float: right;
  text-align: center;
  border-radius: 4px;
  font-size: 14px;
  color: #FFFFFF;
  width: calc(50% - 3px);
  height: 30px;
}

side member {
  display: block;
  width: calc(100% - 20px);
  padding: 10px;
  background: #171a1c;
  color: #eeeeee;
}

side member name {
  display: block;
  width: 100%;
}

side member settings, side member posts, side member joined {
  display: block;
  width: 100%;
  font-size: 0.8em;
}

side member settings a {
  color: #ffffff;
  text-decoration: none;
}

side member settings a:hover {
  text-decoration: underline;
}

topics {
  display: block;
  top: 200px;
  position: absolute;
  width: calc(90% - 250px);
  margin: 5%;
  margin-top: calc(5% - 20px);
  color: #ffffff;
}

topics a {  
  color: #ffffff;
  text-decoration: none;
}

topics a:hover {
  text-decoration: underline;
}

topic {
  background-color: #222628;
  display: block;
  width: 100%;
  margin: 20px 0;
  border-radius: 5px;
  overflow: hidden;
}

topic>name {
  display: block;
  width: calc(100% - 20px);
  padding: 10px;
  background-color: #00aaff;
  font-weight: bold;
}

topic forum {
  display: block;
  width: calc(100% - 30px);
  padding: 10px 15px;
}

topic forum name {
  display: block;
  width: 100%;
}

topic forum>thread {
  display: block;
  width: calc(100% - 20px);
  padding: 5px 10px;
}

forum thread name {
  display: block;
  width: 100%;
  font-size: 12px;
  font-weight: bold;
}

forum thread>author,topic thread>date {
  display: inline-block;
  font-size: 12px;
}

content {
  display: none;
  padding: 20px;
  width: calc(90% - 290px);
  position: absolute;
  top: calc(5% + 220px);
  right: 5%;
  margin-bottom: 5%;
  background-color: #222628;
  border-radius: 5px;
  overflow: hidden;
  color: #ffffff;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.16), 2px 2px 10px 0 rgba(0,0,0,0.16)!important;
}

content id>avatar {
  display: inline-block;
  height: 100px;
  width: 100px;
  background-size: 100px;
  vertical-align: top;
}

content h2 {
  text-align: center;
}
