<!DOCTYPE html>
    <head>
        <title>{{ code | safe }} Error | Piggah Bro Studios</title>
		<link rel='stylesheet' href='/static/{{ version }}/main.css'/>
		<link rel='stylesheet' href='/static/css/ionicons.min.css'/>
		<link rel="icon" type="image/png" href="/static/image/logo.png">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="This is the {{ code | safe }} error code page!">
		<meta name="keywords" content="Dylan,Bulmer,Piggah,Bro,Studios,Game,Web,Development,Mod Packs">
		<meta name="author" content="Dylan Bulmer">
    </head>
    <body>
		<nav style="border-top: 0;">
		    {{ nav | safe }}
		</nav>
		<section>
			<main class="full-page" style="text-align: center;">
			    {{ innerText | safe }}
			</main>
		</section>
		<footer>
		    {{ footer | safe }}
	    </footer>
        <script src='/static/{{ version }}/style.js'></script>
    </body>
</html>
