<!DOCTYPE html>
    <head>
        <title>Web-Development Calculator | Piggah Bro Studios</title>
		<link rel='stylesheet' href='/static/{{ version }}/main.css'/>
		<link rel='stylesheet' href='/static/{{ version }}/webcalc.css'/>
		<link rel='stylesheet' href='/static/css/ionicons.min.css'/>
		<meta name="google-site-verification" content="OCChJWUlPczUG61AbvgQ_4io0zO3QF5oUXZ3Bon-Sjw" />
		<link rel="icon" type="image/png" href="/static/image/logo.png">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Piggah Bro Studios is run by Dylan Bulmer. He has created games including Feline Fighters and tde Map Game. Many more games are expected to come! He also does Web Development on tde side for a reasonable price!">
		<meta name="keywords" content="Dylan,Bulmer,Piggah,Bro,Studios,Web,Development,Calculator">
		<meta name="autdor" content="Dylan Bulmer">
    </head>
    <body>
		<nav>
		    {{ nav | safe }}
		</nav>
		<section>
			<main style="width: 90%; padding: 0;">
			    <div class="webcalc">
			        <div id="pages">
			            <h3>Pages</h3>
			            <div id="contents">
			                <table style="width: 100%; border-spacing: 0 5px;">
			                    <tbody id='pg-parent'>
			                        <tr>
			                            <td style="width: 10%">Delete</td>
			                            <td style="width: 30%">Type</td>
			                            <td style="width: 30%">Title</td>
			                            <td style="width: 30%">Self Maintenance</td>
			                        </tr>
			                        <tr id="page-0">
			                            <td></td>
			                            <td>
			                                <select>
		                                        <option disabled>Choose</option>
		                                        <option selected>Basic</option>
		                                        <option>Forum</option>
		                                        <option>Blog</option>
		                                        <option>Login</option>
		                                    </select>
		                                </td>
			                            <td><input type='text'></td>
			                            <td><input type="checkbox" id='page-sm-0'></td>
			                        </tr>
			                        <tr id="pg-add">
			                            <td></td>
			                            <td>
			                                <button onclick='newPage()'>
			                                    Add +
			                                </button>
		                                </td>
			                        </tr>
			                    </tbody>
			                </table>
			            </div>
			        </div>
			        <div id="databases">
			            <h3>Databases</h3>
			            <div id="contents">
			                <table style="width: 100%">
			                    <tr>
			                        <td style="text-align: left; width: 10%">
			                            Delete
		                            </td>
			                        <td style="text-align: left; width: 45%">
			                            Need these?
		                            </td>
			                        <td style="text-align: left; width: 45%">
			                            <input type="checkbox" id='db-on'>
		                            </td>
			                    </tr>
			                    <tr id="db-0">
			                        <td></td>
			                        <td colspan=2>
			                            <select>
		                                    <option selected disabled>Choose</option>
		                                    <option>User</option>
		                                    <option>Blog</option>
		                                    <option>Forum</option>
		                                    <option>Other</option>
		                                </select>
			                        </td>
			                    </tr>
			                    <tr id="db-add">
			                        <td></td>
			                        <td colspan=2>
			                            <button onclick='newDB()'>
			                                Add +
			                            </button>
		                            </td>
			                    </tr>
			                </table>
			            </div>
			        </div>
			        <div id="pricing">
			            <h3>Pricing...</h3>
			            <div id="contents">
		                    <b>Per Page</b>
			                <ul class='pricing'>
			                    <li>$20</li>
			                </ul>
			                <b>Self-Maintenance</b>
			                <ul class='pricing'>
			                    <li>$10</li>
			                </ul>
			                <b>Per Database</b>
			                <ul class='pricing'>
			                    <li>$5</li>
			                </ul>
			            </div>
			        </div>
			        <div id="price">
			            <div id="contents">
			                <b>Total Price: </b><span id='output'>$0.00</span>
			            </div>
			        </div>
			    </div>
			</main>
		</section>
		<footer>
		    {{ footer | safe }}
	    </footer>
        <script src='/static/{{ version }}/webcalc.js'></script>
        <script src='/static/{{ version }}/style.js'></script>
    </body>
</html>
