<!DOCTYPE html>
    <head>
        <title>Chat Login | Piggah Bro Studios</title>
		<link rel="icon" type="image/png" href="/static/image/logo.png">
		<link rel='stylesheet' href='/static/{{ version }}/login.css'/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="Dylan Bulmer">
    </head>
    <body>
		<section>
			<main>
		        <form action="" method="post">
		            <table>
		                <tr>
		                    <td>
                                Name:
                            </td><td>
                                <input type='text' name='name' autofocus  autocomplete="off">
                            </td>
                        </tr><tr>
		                    <td>
                                Password:
                            </td><td>
                                <input type='password' name='password'>
                            </td>
                        </tr><!--<tr>
		                    <td colspan=2>
                                Stay logged in?
                                <input type='checkbox' name='logged'>
                            </td>
                        </tr>--><tr>
                            <td></td>
		                    <td>
                                <input type='submit' value='Login' style="width: 100%; border-bottom: 0;">
                            </td>
                        </tr>
                    </table>
                </form>
			</main>
		</section>
		<script>
		    var form = document.getElementsByTagName('form')[0];
		    var formRect = this.form.getBoundingClientRect();
		    var body = document.body;
		    var bodyRect = this.body.getBoundingClientRect();
		    
		    form.style = " position: relative; top: " + ((window.innerHeight - formRect.height) / 3) + "px;"
		</script>
    </body>
</html>
