* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: monospace;
}

main {
    display: block;
    height: calc(100vh - 50px);
    overflow-y: auto;
}

bottom {
    background: linear-gradient(141deg, #3BF, #0AF) no-repeat;
    display: inline-block;
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
}

td#time {
    width: 75px;
}

td#name {
    width: 125px;
}

td#msg, th#msg {
    text-align: left;
    width: calc(100% - 210px);
    padding: 5px;
}

th {
    font-size: 1.25em;
}

table {
    width: 100%;
    text-align: center;
}

bottom div#name {
    display: inline-block;
    vertical-align: top;
    line-height: 50px;
    width: 100px;
    margin-left: 10px;
}

bottom div#submit {
    display: inline-block;
    vertical-align: top;
    line-height: 50px;
    width: 65px;
}

bottom div#msg {
    display: inline-block;
    vertical-align: top;
    line-height: 50px;
    width: calc(100% - 195px);
    margin: 0 10px 0 3px;
}

bottom div input, bottom div select {
    width: calc(100% - 5px);
    border-radius: 5px;
    padding: 5px;
}

@media only screen and (max-width: 640px) {
    * {font-size: 0.95em}
    td#time {width: 75px;}
    td#name {width: 75px;}
    td#msg, th#msg {
        text-align: left;
        width: calc(100% - 160px);
        padding: 5px;
    }
    th {font-size: 1em;}
}
