<!DOCTYPE html>
    <head>
        <title>Services | Piggah Bro Studios</title>
		<link rel='stylesheet' href='/static/{{ version }}/main.css'/>
		<link rel='stylesheet' href='/static/css/ionicons.min.css'/>
		<link rel="icon" type="image/png" href="/static/image/logo.png">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="This page gives a list of what services we porvide.">
		<meta name="keywords" content="Dylan,Bulmer,Piggah,Bro,Studios,Game,Web,Development,Mod Packs">
		<meta name="author" content="Dylan Bulmer">
    </head>
    <body>
		<nav style="border-top: 0;">
		    {{ nav | safe }}
		</nav>
		<section>
			<main class="full-page" style="text-align: center;">
		        <a class="service" href="/services/web">
		            <title>Web Development</title>
	                <desc>
	                    Here at Piggah Bro Studios, we are proud of how we develop our websites! We create EVERY website from scratch to fit your needs! That's right! No templates used at all! We charge for the number of pages!
                    </desc>
	            </a>
		        <a class="service" href="/services/game">
		            <title>Game Development</title>
	                <desc>
	                    Our games are made by hand in pure JavaScript. The game we are currently working on is the MapGame! To find out more about this game, please go to our Gaming tab and click on the MapGame!
                    </desc>
	            </a>
			</main>
		</section>
		<footer>
		    {{ footer | safe }}
	    </footer>
        <script src='/static/{{ version }}/style.js'></script>
    </body>
</html>
