* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: arial, sans-serif;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

ul, ol {
    padding-left: 1.25em;
}

hr {
    border-bottom: 2px solid #ccc;
    margin: 2px 0;
}

body {
  background-color: #FFF;
  text-align: center;
}

pre {
    display: block;
    padding: 10px;
    width: calc(100% - 20px - 1em);
    margin: 10px 0;
    margin-left: 1em;
    background-color: #eee;
    border-radius: 5px;
}

.header {
  display: block;
  font-weight: bold;
  font-family: "Arial Black", Gadget, sans-serif;
  width: 100%;
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  height: 200px;
  text-align: center;
  background: #000 url("../image/background.png") no-repeat;
}

footer {
  width: calc(100% - 40px);
  padding: 20px;
  min-height: 150px;
  background-color: #0af;
  color: #FFF;
  text-align: center;
}

footer a {
    color: #FFF;
}

footer a:hover {
    color: #ccc;
}

section {
  width: 100%;
  background-color: #FFF;
}

section aside {
  display: inline-block;
  width: 250px;
  border-radius: 5px;
  margin: 10px 5px 10px 10px;
  vertical-align: top;
  text-align: left;
}

section aside.twitter {
  padding: 0;
  margin: 10px 5px 10px 15px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

section main {
  vertical-align: top;
  display: inline-block;
  width: calc(100% - 318.5px);
  padding: 10px;
  margin: 12px 10px 12px 5px;
  border-radius: 5px;
  vertical-align: top;
  text-align: left;
}

section main.full-page {
  width: calc(80% - 44px);
  padding: 10px;
  margin: 10px;
}

section main p {
    text-indent: 2.5em;
    line-height: 1.5em;
    text-align: justify;
}

nav {
    text-align: center;
    width: 100%;
    border-top: 2px solid #0af;
    border-bottom: 2px solid #0af;
    position: initial;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #FFF;
}

nav ul {
    display: inline-block;
    list-style-type: none;
    overflow: hidden;
    background-color: #FFF;
    margin-bottom: -4px;
}

nav li {
    display: inline-block;
    margin: 0 -2.5px;
}

nav li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
}

nav li a:hover, .dropdown:hover .dropbtn {
  color: white;
  background-color: #0af;
}

nav li.dropdown {
  display: inline-block;
}

.dropdown-content {
  padding-top: 2px;
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  background-color: #f9f9f9;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: #555;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.ft-cl{ float: left; width: 33%; text-align: center;}
.ft-cr{ float: right; width: 33%; text-align: center; }
.ft-cc{ display: inline-block; width: 33%; }

profileTab, profileHeader {
    width: calc(100% - 10px);
    padding: 5px;
    display: block;
}

profileHeader {
    background-color: #ddd;
    border-radius: 5px 0;
    margin-top: 12px;
}

profileTab rank {
    display: block;
    font-size: 0.75em;
    color: #777;
}

profileTab name, profileHeader name {
    display: block;
    font-weight: bold;
}

profileTab twitter {
    display: block;
    font-size: 0.75em;
}

profileTab a, profileTab a:active, profileTab a:hover {
    color: #0AF;
    text-decoration: none;
}

post {
    display: block;
    width: calc(100% - 10px);
    padding: 5px;
    border-bottom: 1px solid #ddd;
    text-decoration: none;
}

post title {
    display: block;
    font-weight: bold;
    font-size: 1em;
    color: #555;
}

post author, h5 {
    display: block;
    color: #777;
    font-size: 0.75em;
}

post summary {
    display: block;
    font-size: 0.75em;
    color: #555;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    height: 1.25em;
    position: static; /* use relative when using :before */
}
/*
post summary:before {
    content: '';
    width: inherit;
    background: linear-gradient(90deg, transparent 90%, white);
    height: 14px;
    position: absolute;
}

post:hover post summary:before {
    background: linear-gradient(90deg, transparent 90%, #ddd);
}
*/
listContainer {
    width: 90%;
    min-width: 500px;
    margin: auto;
    text-align: center;
    display: block;
}

list {
    display: inline-block;
    vertical-align: top;
    width: calc(49% - 30px);
    padding: 0 15px;
    margin: 20px 0;
    text-align: left;
}

list name, list title, list desc, list a {
    display: block;
}

list title {
    box-shadow: 0 8px 6px -6px rgba(0,0,0,0.16)
}

list a {
    width: calc(100% - 10px);
    padding: 5px;
    border-bottom: 1px solid #ddd;
    text-decoration: none;
}

items {
    display: block;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

items.list {
    min-width: 170px;
    width: calc(90% - 10px);
    margin: auto;
}

list a:hover, a.service:hover, post:hover {
    background: #ddd;
}

post:hover > title, list a:hover > name, a.service:hover > title {
    color: #000;
}

post:hover > author, post:hover > h5, list a:hover > desc, a.service:hover > desc {
    color: #555;
}

post:hover > summary {
    color: #333;
}

list title {
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid #0AF;
    color: #000;
}

list name {
    font-weight: bold;
    color: #000;
}

list desc {
    font-size: 0.75em;
    color: #777;
}

a.service {
    display: inline-block;
    min-width: 200px;
    width: 25%;
    text-align: left;
    vertical-align: top;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    margin: 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

a.service title {
    display: block;
    font-size: 1.25em;
    margin-bottom: 5px;
    width: 100%;
    color: #000;
}

a.service desc {
    display: block;
    font-size: 0.9em;
    color: #777;
    width: 100%
}

#create, #logout {
    background-color: #ddd;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
    color: #555;
    cursor: pointer;
    text-decoration: none;
    line-height: 1em;
}

#ft-info {
    text-align: left;
}

.ft-cc a { text-decoration: none; }
.ft-cc table { width: 50%; margin: auto; }
.ft-cc td { width: 50%; padding: 5px }

.ft-cr a { text-decoration: none; }
.ft-cr table { float: right; text-align: right; display: inline-table; }
.ft-cr td { width: 100%; padding: 5px }

blogContainer {
    display: inline-block;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
    width: 100%;
    margin-top: 10px;
}

@media  only screen and (max-width: 640px) {
    .ft-cl { float: left; width: 100%; }
    .ft-cr { float: left; width: 100%; }
    .ft-cr table { float: none; }
    .ft-cc { display: inline-block; width: 100%; }
    #ft-info { text-align: center; }
    footer { height: 350px }
    section main { width: calc(100% - 19.55px); margin:0 }
    section main.full-page { width: 90% }
    section aside { display: none }
    .dropdown:hover .dropdown-content { display: none; }
    list { display: block; width: calc(100% - 10px); }
    listContainer { width: 100%; min-width: 100%; }
}

#delete {
    width: 1.7em;
    height: 1.7em;
    font-size: 1.25em;
    border-radius: 1.7em;
    margin: 5px;
    cursor: pointer;
}
