<html>
  <head>
    <title>Piggah Bro Studios | Community</title>
    <link rel="stylesheet" href="/static/{{ version }}/gaming/main.css"/>
  </head>
  <body>
    <header>
      <h2 style="padding: 42.5px 0 8px 0;">
        Piggah Bro Studios
      </h2>
      Gaming Community
      <main style="font-size: 0.6em; width: 50%; margin: auto;">
        <section>
          <collums>
            <collum>
              <a href="/gaming">
                Home
              </a>
            </collum>
            <collum>
              <a href="/gaming/forums">
                Forums
              </a>
            </collum>
            <collum>
              <a href="http://steamcommunity.com/groups/piggahbrostudios" target="_BLANK">
                Steam Group
              </a>
            </collum>
            <collum>
              <a href="https://discord.gg/A2db8se" target="_BLANK">
                Discord
              </a>
            </collum>
          </collums>
        </section>
      </main>
      <logo></logo>
    </header>
    <main>
      <section>
        <title>Piggah Bro Studios' Products</title>
        <collums>
          <collum>
            <subtitle>The Map Game</subtitle>
            <a href="https://mapgame.ddns.net/" target="_BLANK">
              Play Now!
            </a>
          </collum>
          <collum>
            <subtitle>Chat App</subtitle>
            <a href="http://piggahbro.ddns.net:6972/" target="_BLANK">
              Chat Now!
            </a>
          </collum>
        </collums>
      </section>
      <section>
        <title>Other Game Servers</title>
        <collums>
          <collum>
            <subtitle>Minecraft</subtitle>
            <info>Version 1.11.2</info>
            <info>Status: Offline</info>
            <a href="http://piggahbro.ddns.net:25565" target="_BLANK">
              Click For Link!
            </a>
          </collum>
          <collum>
            <subtitle>Unturned</subtitle>
            <info><br></info>
            <info>Status: Offline</info>
            <a href="steam://connect/piggahbro.ddns.net:27015">
              Play Now!
            </a>
          </collum>
          <collum>
            <subtitle>Garry's Mod</subtitle>
            <info>Dark RP</info>
            <info>Status: Offline</info>
            <a href="#">
              Not Built!
            </a>
          </collum>
        </collums>
      </section>
    </main>
  </body>
</html>
