<html>
  <head>
    <title>Community Forums</title>
    <link rel="stylesheet" href="/static/{{ version }}/gaming/main.css"/>
    <link rel="stylesheet" href="/static/{{ version }}/gaming/login.css"/>
  </head>
  <body>
    <div class="login wrapper">
      <buttons>
        <span id="btn-left" style="border-bottom-right-radius: 10px">Login</span>
        <span id="btn-right" style="border-bottom-left-radius: 10px" class="back">Sign Up</span>
      </buttons>
      <form action="" method="post" id="login">
        <err style="color: #f00; font-size: 0.9em; text-align: center;">
          {{ error | safe }}
        </err>
        <br>
        <input name="type" value="login" class="hidden" />
        <input placeholder="Username" name="username"required/>
        <input type="password" name="password" placeholder="Password"required/>
        <button type="submit" class="submit">Login</button><br>Or
        <a href='/gaming/login/steam' class="submit steam">&nbsp</a>
      </form>
      <form action="" method="post" id="signup">
        <err style="color: #f00; font-size: 0.9em; text-align: center;">
          {{ error | safe }}
        </err>
        <br>
        <input name="type" value="signup" class="hidden"/>
        <span>Required</span>
        <input placeholder="Username"name="username"required pattern="^[a-zA-Z0-9-_\.]{6,18}$"/>
        <input placeholder="Password"type="password"name="password"required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*_=+-]).{8,}$"/>
        <input placeholder="Confirm Password"type="password"name="password2"required/>
        <input placeholder="Email"type="email"name="email"required/>
        <span>Optional</span>
        <input placeholder="Real name"name="realname" />
        <button type="submit" class="submit">Sign Up</button><br>Or
        <a href='/gaming/login/steam' class="submit steam">&nbsp</a>
      </form>
    </div>
    <script>     
      var lt = document.getElementById('btn-left')
      var rt = document.getElementById('btn-right')
      var sf = document.getElementById('signup')
      var lf = document.getElementById('login')
      lf.setAttribute("style", "border-top-right-radius: 5px");
      sf.setAttribute(
        "style", 
        "display: none; border-top-left-radius: 5px"
      );
      var onClick = function(e) {
        let btn = e.target.id;
        if (btn == 'btn-right') {
          lt.setAttribute("class", "back");
          rt.setAttribute("class", "");
          sf.setAttribute(
            "style", 
            "display: block; border-top-left-radius: 5px"
          );
          lf.setAttribute(
            "style", 
            "display: none; border-top-right-radius: 5px"
          );
        } else {
          lt.setAttribute("class", "");
          rt.setAttribute("class", "back");
          sf.setAttribute(
            "style", 
            "display: none; border-top-left-radius: 5px"
          );
          lf.setAttribute(
            "style", 
            "display: block; border-top-right-radius: 5px"
          );
        }
      }
      lt.addEventListener('click', onClick)
      rt.addEventListener('click', onClick)

      var form = document.getElementsByClassName('wrapper')[0];
      var b;
      var update = function() {
        b = form.getBoundingClientRect();
        form.style.top = (window.innerHeight - b.height) / 2 + "px";
        window.requestAnimationFrame(update);
      }
      update() 
    </script>
  </body>
</html>
